<html>
  <head>
    <title>Lux Anguis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous">
    </script>
    <style>
      <link rel="stylesheet" 
       href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_big-stone.min.css">
    </style>
  </head>
  <body>
    <datalist id="animations">{{animations_list}}</datalist>
    <datalist id="poses">{{poses_list}}</datalist>

    <h1>Lux Anguis Animation Builder</h1>
    <fieldset>
      <label>Animation: </label>
      <input id="animation_name" type="search" list="animations" 
       value="new animation"/>
      <input type="button" onclick="load_animation()" value="Load Animation Definition">
      <br>
      
      <label for="num_poses">Number of Poses: </label>
      <input id="num_poses" type="number" value=1 min=1 max=99><br>
    </fieldset>
    <iframe id="invisible" name="invisible" style="display:none;"></iframe>
    <form id="animation_poses" target="invisible" onsubmit="submit_form()"></form>
  </body>
  <script>
    document.getElementById("num_poses").addEventListener("change", build_form)
    document.getElementById("animation_name").addEventListener("change", build_form)

    function build_form(){
      var animation_poses_form = document.getElementById("animation_poses")
      var animation_name = document.getElementById("animation_name").value
      var num_poses = document.getElementById("num_poses").value
      var animation_form_html = "<fieldset>\n"
      for (var pose_id = 0; pose_id < num_poses; pose_id++){
        var pose_identifer = `Pose ${pose_id}`
        var animation_pose_form_html = `
        <fieldset>
          <legend>${pose_identifer}</legend>
          <label for="${pose_identifer}_name">Pose: </label>
          <input type="search" id="${pose_identifer}_name" list="poses"/><br>
          <label for="${pose_identifer}_duration">Duration: </label>
          <input type="number" id="${pose_identifer}_duration" step=0.000001 min=0 value=1 max=300><br>
        </fieldset>
        `
        animation_form_html = animation_form_html + animation_pose_form_html
      }
      animation_form_html = animation_form_html + 
        '<input type="submit" value="Define Animation"></fieldset>'
      animation_poses_form.innerHTML = animation_form_html
      animation_poses_form.action = `/animations/${animation_name}`
    }

    function load_animation(){
      var animation_name = document.getElementById("animation_name").value
      var url = `animations/${animation_name}`
      var xhr = new XMLHttpRequest()
      xhr.open("GET", url)
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var num_poses = document.getElementById("num_poses")
          var json = JSON.parse(xhr.responseText);
          console.log(json)
          num_poses.value = json['poses'].length
          build_form()

          for (var pose_id = 0; pose_id < num_poses.value; pose_id++){
            var pose_identifer = `Pose ${pose_id}`
            var pose_def = json['poses'][pose_id]
            var pose_name = document.getElementById(`${pose_identifer}_name`)
            var pose_dur = document.getElementById(`${pose_identifer}_duration`)
            pose_name.value = pose_def['pose_name']
            pose_dur.value = pose_def['duration']
          }
        }
      };
      xhr.send()
    }

    function submit_form(){
      var animation_poses_form = document.getElementById("animation_poses")
      var animation_name = document.getElementById("animation_name").value
      var num_poses = document.getElementById("num_poses").value
      var poses = []
      for (var pose_id = 0; pose_id < num_poses; pose_id++){
        var pose_identifer = `Pose ${pose_id}`
        poses[pose_id] = {
          "pose_name": document.getElementById(`${pose_identifer}_name`).value,
          "duration": document.getElementById(`${pose_identifer}_duration`).value}
      }

      var xhr = new XMLHttpRequest()
      var url = `animations/${animation_name}`
      xhr.open("POST", url)
      var animation = JSON.stringify({
        "animation_name": animation_name,
        "poses": poses})
      xhr.send(animation)
      load_animation()
    }

    load_animation()
  </script>
</html>
