<html>
  <head>
    <title>Lux Anguis</title>
  </head>
  <body>
    <datalist id="animations">{{animations_list}}</datalist>

    <h1>Lux Anguis Configuration Builder</h1>
    <fieldset>
      <label>Brightness: </label>
      <input type="number" id="brightness" value=100 min=0 max=100>
      <label>Number of LEDs: </label>
      <input type="number" id="num_leds" value=24 min=1><br>
    </fieldset>
    <fieldset>
      <label for="queue">Queue: </label><br>
      <textarea id="queue" value="" style="width:100%"></textarea>
      <fieldset>
        <label>Search animations: </label><br>
        <input type="button" value="Cue Animation" onclick="cue_animation()">
        <input type="search" id="animation_search" list="animations" style="width:65%"/>
        <input type="button" value="Append Animation" onclick="append_animation()"><br>
      </fieldset>
    </fieldset>
    <input type="button" id="update_configuration" value="Update Configuration" onclick="update_configuration()" style="width:100%">

  </body>
  <script>
    var configuration = {}
    var brightness = document.getElementById("brightness")
    var num_leds = document.getElementById("num_leds")
    var queue = document.getElementById("queue")
    var animation_search = document.getElementById("animation_search")
    var animations_list = document.getElementById("animations").options

    function cue_animation(){
      queue.value = `${animation_search.value}, ${queue.value}`
    }

    function append_animation(){
      queue.value = `${queue.value}, ${animation_search.value}`
    }

    function build_from_config(){
      var config_request = new XMLHttpRequest()
      var url = `configuration`
      config_request.open("GET", url)
      config_request.onreadystatechange = function () {
        if (config_request.readyState === 4 && config_request.status === 200) {
          configuration = JSON.parse(config_request.responseText)
          var queued_animations = configuration['queue'].join(', ')
          queue.value = queued_animations
          brightness.value = configuration['brightness']
          num_leds.value = configuration['num_leds']
        }
      };
      config_request.send()
    };


    function update_configuration(){
      var animations_in_queue = queue.value.split(",").map(function(item){return item.trim()})
      var animation_names = []
      for (var a_id=0; a_id < animations_list.length; a_id++){
        animation_names.push(animations_list[a_id].value.trim())
      }

      var not_included = []
      var queued_animations = []
      animations_in_queue.forEach(function(animation, index){
        if (animation){
          if (!animation_names.includes(animation)){
            not_included.push(animation)
          }
          queued_animations.push(animation)
        }
      })
      if (not_included.length > 0){
        window.alert(`Animations [${not_included}] not found in animation library`)
        return
      }

      var config_request = new XMLHttpRequest()
      configuration['brightness'] = brightness.value
      configuration['num_leds'] = num_leds.value
      configuration['queue'] = queued_animations
      config_request.open("POST", "configuration")
      config_request.send(JSON.stringify(configuration))
      build_from_config()
    }

    build_from_config()
  </script>
</html>
