<html>
  <head>
    <title>Lux Anguis</title>
  </head>
  <body>
    <datalist id="layouts">{{layouts_list}}</datalist>
    <datalist id="led_nums">{{led_nums}}</datalist>

    <h1>Lux Anguis Layout Builder</h1>
    <label for="layout_name">Layout Name:</label>
    <input type="search" id="layout_name" list="layouts"/>
    <input type="button" id="load_layout" onclick="load_layout()" value="Load Layout">
    <br>
    <input type="number" id="rows" min=1 value=1 max=99 style="width:40px"> rows x 
    <input type="number" id="columns" min=1 value=1 max=99 style="width:40px"> columns
    <div id="table_container"></div><br>
    <input type="button" value="Define Layout" onclick="post_layout()">
    <!--     # TODO Read table on submit and create new layout
             # TODO JS to set layout table when selected from data list -->
  </body>
  <script type="text/javascript">
    document.getElementById("rows").addEventListener("change", build_layout_table)
    document.getElementById("columns").addEventListener("change", build_layout_table)
    document.getElementById("layout_name").addEventListener("change", build_layout_table)
    var rows_field =  document.getElementById("rows")
    var columns_field =  document.getElementById("columns")
    var definition = []

    function get_layout(layout_name, post_func){
      layout_request = new XMLHttpRequest()
      layout_request.open("GET", `layouts/${layout_name}`, true)
      layout_request.onreadystatechange = function () {
        if (pose_request.readyState === 4 && pose_request.status === 200) {
          var layout = JSON.parse(layout_request.responseText)
          post_func(layout)
        }
      }
      layout_request.send()
    }

    function cols_and_rows_from_layout(layout){
      var rows = 1
      var columns = 1
      for (var row in layout){
        if (row > rows){
          rows = Number(row)
        }
        for (var col in layout[row]){
          if (col > columns){
            columns = Number(col)
          }
        }
      }
      rows++
      columns++

      return [rows, columns]
    }

    function load_layout(){
      var xhr = new XMLHttpRequest()
      var layout_name = document.getElementById("layout_name").value
      var url = `layouts/${layout_name}`
      xhr.open("GET", url)
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var layout = JSON.parse(xhr.responseText);
          var rows, columns
          [rows, columns] = cols_and_rows_from_layout(layout['definition'])
          
          console.log(`${rows} rows by ${columns} columns`)
          rows_field.value = rows
          columns_field.value = columns
          build_layout_table()

          for (var row = 0; row < rows; row++){
            for (var col = 0; col < columns; col++){
              var selector_id = `${col}x${row}_selector`
              var selector = document.getElementById(selector_id)
              if (row in layout['definition'] && col in layout['definition'][row]){
                selector.value = layout['definition'][row][col]
              }else{
                selector.value = 'None'
              }
            }
          }
          highlight_and_record_cells()
        }
      }
      xhr.send()
    }

    function build_layout_table(){
      var layout_name = document.getElementById("layout_name").value
      var table_container = document.getElementById("table_container")
      table_container.innerHTML = ''
      var led_table = document.createElement('table')
      table_container.appendChild(led_table)

      for (var row = 0; row < rows_field.value; row++){
        var led_row = led_table.insertRow()
        for (var col = 0; col < columns_field.value; col++){
          var selector_id = `${row}x${col}_selector`
          var selector = document.getElementById(selector_id)
          var led_num = (row * columns_field.value) + col
          var pixel = led_row.insertCell()
          var pixel_input = document.createElement("input")
          pixel_input.setAttribute("type", "search")
          pixel_input.setAttribute("list", "led_nums")
          pixel_input.setAttribute("id", selector_id)
          pixel_input.defaultValue = ""
          pixel_input.addEventListener("change", highlight_and_record_cells)
          pixel.appendChild(pixel_input)
        }
      }
    }

    function highlight_and_record_cells(){
      definition = {}
      for (var row = 0; row < rows_field.value; row++){
        for (var col = 0; col < columns_field.value; col++){
          var selector_id = `${row}x${col}_selector`
          var selector = document.getElementById(selector_id)
          if (selector.value == 'None' || selector.value == ''){
            selector.setAttribute("style", "width:60px;background-color : rgba(0, 0, 0, 1)")
          }else{
            selector.setAttribute("style", "width:60px")
            if (!(String(row) in definition)){
              definition[String(row)] = {}
            }
            definition[String(row)][String(col)] = selector.value
          }
        }
      }
    }

    function post_layout(){
      var xhr = new XMLHttpRequest()
      var url = `layouts/${layout_name}`
      xhr.open("POST", url)
      var layout = JSON.stringify({
        "layout": layout_name,
        "definition": definition})
      xhr.send(layout)
      load_layout()
    }

    build_layout_table()
  </script>
</html>