<html>
  <head>
    <title>Lux Anguis</title>
  </head>
  <body>
    <datalist id="poses">{{poses_list}}</datalist>
    <datalist id="layouts">{{layouts_list}}</datalist>

    <h1>Lux Anguis Pose Builder</h1>
    <label for="pose_name">Pose Name:</label>
    <input type="search" id="pose_name" list="poses"/>
    <input type="button" onclick="load_pose()" value="Load Pose Definition"><br>
    <label for="brightness">Brightness: </label>
    <input type="number" min=0 value=100 max=100 id="brightness" style="width:50px">
    <br>
    <label>Layout :</label>
    <input type="search" id="layout" list="layouts">
    <br><br>
    <div id="pose_container"></div><br>
    <input type="button" value="Define Pose" onclick="define_pose()">
    <!--     # TODO Read table on submit and create new pose
             # TODO JS to set pose table when selected from data list -->
  </body>
    <script type="text/javascript">
    const led_table = document.getElementById("led_table")
    var current_layout = {}
    var current_pose = {}

    function cols_and_rows_from_layout(){
      var rows = 1
      var columns = 1
      for (var row in current_layout['definition']){
        if (row > rows){
          rows = Number(row)
        }
        for (var col in current_layout['definition'][row]){
          if (col > columns){
            columns = Number(col)
          }
        }
      }
      rows++
      columns++
      return [rows, columns]
    }

    function hexToRgb(hex){
      const result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result ? [
        parseInt(result[1], 16),
        parseInt(result[2], 16),
        parseInt(result[3], 16)
      ] : null
    }

    function get_layout(layout_name, post_func){
      const layout_request = new XMLHttpRequest()
      layout_request.open("GET", `layouts/${layout_name}`, true)
      layout_request.onreadystatechange = function () {
        if (layout_request.readyState === 4 && layout_request.status === 200) {
          current_layout = JSON.parse(layout_request.responseText)
          post_func()
        }
      }
      layout_request.send()
    }

    function rgbToHex(r, g, b){
      var rgbToHex = '#' + [r, g, b].map(x => {
        const hex = x.toString(16)
        return hex.length === 1 ? '0' + hex : hex
      }).join('')
      return rgbToHex
    }

    function load_pose(){
      const pose_request = new XMLHttpRequest()
      const pose_name = document.getElementById("pose_name").value
      const url = `poses/${pose_name}`
      pose_request.open("GET", url, true)
      pose_request.onreadystatechange = function () {
        if (pose_request.readyState === 4 && pose_request.status === 200) {
          current_pose = JSON.parse(pose_request.responseText)
          document.getElementById("layout").value = current_pose['layout']
          get_layout(current_pose['layout'], function (){
            var rows, columns
            [rows, columns] = cols_and_rows_from_layout(current_layout['definition'])
            const pose_container = document.getElementById("pose_container")
            pose_container.innerHTML = ""
            const pixel_table = document.createElement("table")
            pose_container.appendChild(pixel_table)
            const default_color = rgbToHex(...[0, 0, 0])
            for (var row = 0; row < rows; row++){
              var pixel_row = pixel_table.insertRow()
              for (var col = 0; col < columns; col++){
                const led_num = current_layout['definition'][row][col]
                const cell_id = `cell_${col}x${row}`
                const pixel_cell = pixel_row.insertCell()
                const cell_contents = document.createElement("input")
                cell_contents.setAttribute("type", "color")
                cell_contents.setAttribute("id", cell_id)
                cell_contents.setAttribute("style", "background-color : rgba(100, 100, 100, 0.3)")
                if (row in current_layout['definition'] &&
                    col in current_layout['definition'][row]){
                  if (led_num in current_pose['led_states']){
                    const led_value = current_pose['led_states'][led_num]
                    cell_contents.defaultValue = rgbToHex(...led_value)
                  }else{
                    cell_contents.defaultValue = default_color
                  }
                }else{
                  cell_contents.setAttribute("disabled", true)
                  cell_contents.defaultValue = default_color
                  cell_contents.setAttribute("style", "background-color : rgba(0, 0, 0, 1)")
                }
                pixel_row.appendChild(cell_contents)
              }
            }
          })
        }
      }
      pose_request.send()
    }

    function define_pose(){
      const pose_name = document.getElementById("pose_name").value
      const layout_name = document.getElementById("layout").value
      var rows, columns
      [rows, columns] = cols_and_rows_from_layout(current_layout['definition'])

      const led_states = []
      const led_selectors = []
      const num_selectors = led_selectors.length

      for (var row = 0; row < rows; row++){
        for (var col = 0; col < columns; col++){
          if (row in current_layout['definition'] &&
                    col in current_layout['definition'][row]){
            const led_num = current_layout['definition'][row][col]
            const cell_id = `cell_${col}x${row}`
            const cell = document.getElementById(cell_id)
            if (cell != null){
              led_states[led_num] = hexToRgb(cell.value)
            }else{
              led_states[led_num] = [0, 0, 0]
            }
          }
        }
      }

      const pose_request = new XMLHttpRequest()
      const url = `poses/${pose_name}`
      pose_request.open("POST", url)
      const pose = JSON.stringify({
        "pose": pose_name,
        "layout": layout_name,
        "led_states": led_states})
      pose_request.send(pose)
      load_pose()
    }
  </script>
</html>